body{
	
}

.pp{
	width: 100%
	height: 50px
background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,180,1) 50%, rgba(252,176,69,1) 100%);
}

nav{
	background-color: black;
	width: 100%;
	height: 150px;
	position: relative;
	top: 0px;
	left: 0px;
}

nav a{
	text-decoration: none;
	color: white;
	margin-left: 75px;
	padding: 60px;
	float: right;
}

.a{ 
	background-color: #833ab4;
	width: 100%;
	height: 100px;
	padding: 10px;
	position: relative;
	text-align: center;




}
